DATABASE_URL=sqlite:///./printfarm.db
GOVEE_API_KEY=your_govee_api_key_here
AMAZON_EMAIL=your_amazon_email_here
AMAZON_PASSWORD=your_amazon_password_here
SLICER_WATCH_DIR=/home/pi/slicer-output
ENERGY_RATE_PER_KWH=0.12
SECRET_KEY=changeme
